<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>




<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Add new task</h5>
 <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Title" aria-label="Recipient's username" aria-describedby="button-addon2">
</div>
<div class="form-group green-border-focus">
  <textarea placeholder="Description" class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>

</div>
<button type="button" class="btn btn-info">Add</button>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="container">
  <div class="row align-items-start">
    <div class="col">


	<h3 style="color: red">To do</h3>

{% for task in Tasks %}
      {% if task.task_status == 'TO_DO' %}
<div class="card">
  <div class="card-header">
    {{ task.date }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <p class="card-text">{{ task.description }}</p>
    <a href="#" class="btn btn-danger">Do</a>
  </div>
</div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="col">
{% for task in Tasks %}
      {% if task.task_status == 'DOING' %}
	<h3 style="color: yellow">Doing</h3>
<div class="card">
  <div class="card-header">
    {{ task.date }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <p class="card-text">{{ task.description }}</p>
    <a href="#" class="btn btn-warning">Done</a>
  </div>
</div>
    </div>
    {% endif %}
      {% endfor %}
    <div class="col">
{% for task in Tasks %}
      {% if task.task_status == 'DONE' %}
	<h3 style="color: green">Done</h3>
<div class="card">
  <div class="card-header">
    {{ task.date }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <p class="card-text">{{ task.description }}</p>
  </div>
</div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


</body>
</html>
